h1{
    color: white;
    background-color: royalblue;
  
}
h2 {
    color: green;
}

p22 {
    position: absolute;
    left: 110px;
}


.xlabel {
    color: blue;
}

.xclass {
    color: brown;
    position: absolute;
    left: 110px;    
}

.her0 {
    Color: green;
}

.her1 {
   color: skyblue
}

.her2 {
    color: sandybrown
}
.xtab {
        position: absolute;
        left: 150px;
}

.xitbl {
    position: absolute;
    left: 360px;
    font-style: italic;
}

.xlabelextab {
    color: blue;
    position: absolute;
    left: 110px;
    
}